  
<form action="/tasks" method="post">
  <label for="title">Title</label>
  <input type="string" name="task[title]">
  <label for="details">Details</label>
  <input type="text" name="task[details]">
  <label for="completed">Completed</label>
  <input type="boolean" name="taks[completed]">
  <input type="submit">
</form>